# ignore Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Debug log from npm or other logs
npm-debug.log
*.log

# ignore xml file
*.xml

# ignore cucumber.json
cucumber.json

# idea
.idea
*.iml

# Env file
.env